body {
    margin: 0px;
    padding: 0px;
}
.well {
    width: 100%;
    padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 3px;
    padding-left: 3px;
    margin: 3px;
    overflow:hidden;
}

.img-thumb {
    padding-top: 8px;
    padding-left: 8px;
    max-height: 30px;
    float: left;
}

.img-circle {
    max-width: 100px;
}

.img-wrap {
    padding: 0px;
}

.row {
    margin: 0px;
    padding: 0px;
}
.user-row {
    margin-bottom: 4px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 4px 0;
    padding: 4px;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information {
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

.attr-list-device {
    padding-top: 150px;
    float: right;
}

.attr-name-device {
    padding-top: 0px;
}

.attr-list-tablet {
    padding-left: 100px;
    float: right;
}

.attr-name-title {
    float:right;
}

.attr-table-wrap {
    padding: 0px;
}

dl {
    margin-bottom: 0px;
}

.show {
    display: block;
}

.noshow {
    display: none;
}

.visible {
    visibility:  visible;
}
.invisible {
    visibility: hidden;
}

.summary-table {
    overflow:hidden;
    white-space:nowrap;
    table-layout:fixed;
    padding: 0px;
    margin: 0px;
}

.dropdown-user {
    padding: 0;
    margin: 0;
}

.col-xs-3 {
    width: 15%;
}

.text-muted {
    font-size:x-small;
}

.input-fixed {
    font-size:16px;
}

.attr-fixed {
    font-size:16px;
}

.label-fixed {
    font-size:1em;
}