<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <title>Contacts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="icon" href="/images/newneoz.png?7777" />
    <link href="contacts.css" rel="stylesheet">
</head>
<body>
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/lib/angular.min.js"></script>
    <script src="libs/lib/angular-ui-router.min.js"></script>
    <script src="contacts.js"></script>
    <div id="ContactManager" ng-app="ContactManager">
        <div ng-controller="ContactController as Contacts" class="container">
            <div class="well col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                <div class="row user-row">
                    <span class="pull-right">
                        Contact Name
                        <input type="text" ng-model="Contacts.contactname" />
                        <button class="btn btn-sm btn-primary" type="button"
                                ng-click="Contacts.create();">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                        <button class="btn btn-sm btn-primary" type="button"
                                ng-click="Contacts.search();">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div ng-repeat="obj in Contacts.objects" class="well col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                <div class="row user-row">
                    <div class="img-wrap col-xs-3 col-sm-2 col-md-1 col-lg-1">
                        <img class="img-thumb img-{{obj.Key}}"
                                src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="SmallImage"
                                alt="User Pic">
                    </div>
                    <div class="attr-table-wrap col-xs-8 col-sm-9 col-md-10 col-lg-10">
                        <table class="summary-table">
                            <tr>
                                <td>
                                    <strong>{{obj.Name}}</strong>
                                </td>
                                <td ng-repeat="temp in Contacts.template">
                                    <span class="text-muted">&nbsp;{{obj[temp.name]}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 dropdown-user"">
                        <i class="glyphicon glyphicon-chevron-{{obj.direction}} text-muted"
                           ng-click="Contacts.expand(obj);"></i>
                    </div>
                </div>
                <div id="{{obj.Key}}" class="row user-infos" style="display:none">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">User information</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                                        <img
                                                class="img-circle img-{{obj.Key}}"
                                                src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="LargeImage"
                                                alt="User Pic"/>
                                    </div>
                                    <div class="col-xs-2 col-sm-2 hidden-md hidden-lg">
                                        <img
                                                class="img-circle img-{{obj.Key}}"
                                                src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="LargeImage"
                                                alt="User Pic"/>
                                    </div>
                                    <div class="attr-name-device col-xs-10 hidden-sm hidden-md hidden-lg">
                                        <strong>{{obj.Name}}</strong><br>
                                        <ul class="attr-list-device">
                                            <li ng-repeat="temp in Contacts.template">
                                                <dl>
                                                    <dt>{{temp.label}}:</dt>
                                                    <dd>
                                                        <div class="{{obj.editclass}}">
                                                            <input type="text"
                                                                    name="{{obj.Name}}.{{temp.name}}"
                                                                    value="{{obj[temp.name]}}"
                                                                    ng-model="obj[temp.name]" />
                                                        </div>
                                                        <div class="{{obj.showclass}}">
                                                            {{obj[temp.name]}}
                                                        </div>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-9 col-lg-9 hidden-xs col-sm-9">
                                        <strong>{{obj.Name}}</strong><br>
                                        <table class="table table-user-information">
                                            <tbody>
                                                <tr ng-repeat="temp in Contacts.template">
                                                    <td>{{temp.label}}:</td>
                                                    <td>
                                                        <div class="{{obj.editclass}}">
                                                            <input type="text"
                                                                    name="{{obj.Name}}.{{temp.name}}"
                                                                    value="{{obj[temp.name]}}"
                                                                    ng-model="obj[temp.name]" />
                                                        </div>
                                                        <div class="{{obj.showclass}}">
                                                            {{obj[temp.name]}}
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <input id="upload-{{obj.Key}}" type="file" style="visibility:hidden"
                                       onchange="readSingleFile(this);" />
                                <button class="btn btn-sm btn-primary {{obj.loadclass}}" type="button"
                                        ng-click="Contacts.upload(obj);"
                                        data-toggle="tooltip"
                                        data-original-title="Update profile picture">
                                    <i class="glyphicon glyphicon-upload"></i>
                                </button>
                                <span class="pull-right">
                                    <table>
                                        <tr>
                                            <td>
                                                <button class="btn btn-sm btn-warning {{obj.showclass}}" type="button"
                                                        ng-click="Contacts.edit(obj);"
                                                        data-toggle="tooltip"
                                                        data-original-title="Edit this user">
                                                    <i class="glyphicon glyphicon-edit"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-primary {{obj.editclass}}" type="button"
                                                        ng-click="Contacts.save(obj);"
                                                        data-toggle="tooltip"
                                                        data-original-title="Save this user">
                                                    <i class="glyphicon glyphicon-save"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-danger" type="button"
                                                        ng-click="Contacts.remove(obj);"
                                                        data-toggle="tooltip"
                                                        data-original-title="Remove this user">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img id="file-content"
     src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/>
</body>
</html>